.caixa{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    /* flex-flow: row wrap-reverse; */

    width: 100px;
    height: 100px;
}

.container{
    background-color: silver;
}

.red{
    background-color: red;
}

.blue{
    background-color: blue;
}

.yellow{
    background-color: yellow;
}

.green{
    background-color: green;
}