body{
    background: #dfdfdf;
}

p{
    color: rgb(34, 34, 34);
}
.foto-principal {
    width: 200px;
    border: 5px solid #FFFFFF; /*shorthand*/
    border-radius: 50%;
    margin: 30px 30px 30px 30px;
    box-shadow: 0px 0px 40px rgb(180, 171, 171);

}

